.cs142-main-header-left {
  font-family: Arial;
  margin: 20px 0px 20px 30px;
  width: 15%;
}

.cs142-main-header-right {
  font-family: Arial;
  margin: 20px 30px 20px 0px;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

.cs142-main-header-filler {
  display: flex;
  width: 65%;
  justify-content: center;
  align-items: center;
  font-family: "Lobster", Arial;
  font-size: 30px;
}

.cs142-main-logout {
  font-size: 16px;
  height: 30px;
  position: absolute;
  right: 0;
  align-self: center;
  transition-duration: 0.3s;
  border-radius: 5px;
  background-color: #32004a;
  color: white;
}

.cs142-main-logout:hover {
  opacity: 0.7;
}
